.container {
  --font-size: 70px;
  font-family: "Noto Sans Mono", monospace;
  width: 100vw;
  height: calc(100vh / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.title {
  font-size: var(--font-size);
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.letterContainer {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.img {
  position: relative;
  top: calc(33 / 40 * var(--font-size) / 2);
  height: calc(var(--font-size) / 2);
  width: calc(var(--font-size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  color: black;
}
.subtitle {
  font-weight: lighter;
  font-size: 25px;
  font-weight: 300;
}
