.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../../public/sky.svg);
  background-size: cover;
}
