.parallax {
  --background-svg-width: calc(4023 / 1080 * 4 / 5 * 100vh * 2);
  --road-svg-width: calc((4029 / 721) * (1 / 5) * 100vh);
}

.stop {
  animation-play-state: paused !important;
}

.grass {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/grass.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-size: contain;
}

.forest-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-mid {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-mid.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.clouds-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.clouds-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.street {
  position: absolute;
  top: calc(4 / 5 * 100vh);
  left: 0;
  background: url("/road.svg");
  height: calc((1 / 5) * 100vh);
  width: calc(var(--road-svg-width) * 4);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}
