.parallax {
  --background-svg-width: calc(4023 / 1080 * 4 / 5 * 100vh * 2);
  --road-svg-width: calc((4029 / 721) * (1 / 5) * 100vh);
  overflow-y: hidden;
}

.transition-down {
  animation: 4s cubic-bezier(0.33, 0.27, 0.58, 1) forwards down;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(1 / 5 * 100vh));
  }
}

.force-end {
  transform: translateY(calc(1 / 5 * 100vh));
}

.grass {
  position: absolute;
  left: 0;
  background: url("/grass.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-size: contain;
  background-repeat: no-repeat;
}

.sistemgas-hq {
  position: absolute;
  transform: translateX(100%) translateY(5px);
  bottom: calc(1 / 5 * 100vh);
  z-index: 100;
  width: 100%;
  overflow-x: auto;
}

.svg-hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: 50% bottom;
  filter: drop-shadow(0 0 var(--shadow-blur-1) #ffffff)
    drop-shadow(0 0 var(--shadow-blur-2) #ffffff);
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.svg-original {
  transform-origin: bottom;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  cursor: pointer;
}

.sistemgas-hq-animate-in {
  animation: 4s cubic-bezier(0.33, 0.27, 0.58, 1) forwards sistemgas-hq-in;
  transform: translateX(0%) translateY(calc(1 / 5 * 100vh + 5px));
}

.sistemgas-hq-force-end {
  transform: translateX(0%) translateY(calc(1 / 5 * 100vh + 5px));
}

@keyframes sistemgas-hq-in {
  0% {
    transform: translateX(100%) translateY(10px);
  }

  100% {
    transform: translateX(0%) translateY(calc(1 / 5 * 100vh + 5px));
  }
}

.forest-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-mid {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-mid.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.clouds-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}
.clouds-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.street {
  position: absolute;
  top: calc(4 / 5 * 100vh);
  left: 0;
  background: url("/road.svg");
  height: calc((1 / 5) * 100vh);
  width: calc(var(--road-svg-width) * 4);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.street-background {
  position: absolute;
  top: calc(4 / 5 * 100vh);
  left: 0;
  background: url("/road-background.svg");
  height: calc((1 / 5) * 100vh);
  width: calc(var(--road-svg-width) * 4);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

/* fire animation */
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.01);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}

.fire {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.fire-center {
  overflow: visible;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-center__main-fire {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    farthest-corner at 10px 0,
    #d43300 0%,
    #ef5a00 95%
  );
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-center__particle-fire {
  overflow: visible;
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right {
  overflow: visible;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-right__main-fire {
  overflow: visible;
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-right__particle-fire {
  overflow: visible;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left {
  overflow: visible;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.fire-left__main-fire {
  overflow: visible;
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-left__particle-fire {
  overflow: visible;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.fire-bottom .main-fire {
  overflow: visible;
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
