.parallax {
  position: relative;
  --background-svg-width: calc((2139 / 1080) * (4 / 6) * 100vh);
  --road-svg-width: calc(
    (2141 / 151) * (1 / 7) * 100vh
  ); /* the 32 px are because there is a margin left and right of 16px that affect the width of the container*/
  min-height: 100%;
  transform-origin: center bottom;
  transform: scale(1.2);
  overflow: visible;
}

.force-end {
  transform: translateY(calc(1 / 6 * 100vh));
}

.buildings-back {
  background: url("/v2/buildings-back.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left bottom;
  transform-origin: bottom center;
  z-index: 1;
}

.sistemgas-hq {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: visible;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sistemgas-hq::-webkit-scrollbar {
  display: none;
}

.svg-hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: 50% bottom;
  filter: drop-shadow(0 0 var(--shadow-blur-1) #ffffff)
    drop-shadow(0 0 var(--shadow-blur-2) #ffffff);
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.svg-original {
  transform-origin: bottom;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  cursor: pointer;

  filter: drop-shadow(0 0 10 black);
}

.sistemgas-hq-force-end {
  transform: translateY(calc(1 / 8 * 100vh)) scale(1.2);
}

.sistemgas-hq-animate-in {
  animation: var(--end-transition-duration) cubic-bezier(0.33, 0.27, 0.58, 1)
    forwards sistemgas-hq-down;
}

@keyframes sistemgas-hq-down {
  0% {
    transform: translateY(0) scale(1.2);
  }

  100% {
    transform: translateY(calc(1 / 8 * 100vh)) scale(1.2);
  }
}


.sistemgas-svg-force-end {
  position: absolute;
  transform: translateX(0);
  overflow-x: visible !important;
}


.sistemgas-svg-animate-in {
  position: absolute;
  animation: var(--end-transition-duration) cubic-bezier(0.33, 0.27, 0.58, 1)
    forwards sistemgas-svg-in;
  overflow-x: visible !important;
}

@keyframes sistemgas-svg-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.buildings-front {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/v2/buildings-front.svg");
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 3;
}

.clouds-front {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/v2/clouds-front.svg");
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;

  background-repeat: repeat-x;
  background-size: contain;
  z-index: 2;
}

.clouds-back {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/v2/clouds-back.svg");
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;

  background-repeat: repeat-x;
  background-size: contain;
  z-index: 0;
}

.park-back {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/v2/park-back.svg");
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;

  background-repeat: repeat-x;
  background-size: contain;
  z-index: 5;
}

.road-park-front {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/v2/road-park-front.svg");
  width: calc(var(--background-svg-width) * 8);
  height: calc(4 / 6 * 100vh);
  background-position: left bottom;
  transform-origin: bottom center;
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 6;
}
