.parallax {
  --background-svg-width: calc(4023 / 1080 * 4 / 5 * 100vh * 2);
  --road-svg-width: calc((4029 / 721) * (1 / 5) * 100vh);
  overflow-y: hidden;
}

.transition-down {
  animation: 4s cubic-bezier(0.33, 0.27, 0.58, 1) forwards down;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(1 / 5 * 100vh));
  }
}

.force-end {
  transform: translateY(calc(1 / 5 * 100vh));
}

.grass {
  position: absolute;
  left: 0;
  background: url("/grass.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-size: contain;
  background-repeat: no-repeat;
}

.sistemgas-hq {
  position: absolute;
  left: 100%;
  transform: translateX(100%);
  bottom: calc(1 / 5 * 100vh);
  z-index: 100;
  overflow: visible;
}

.svg-hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: 50% bottom;
  filter: drop-shadow(0 0 var(--shadow-blur-1) #ffffff)
    drop-shadow(0 0 var(--shadow-blur-2) #ffffff);
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.svg-original {
  transform-origin: 50% bottom;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
  cursor: pointer;
}

.sistemgas-hq-animate-in {
  animation: 4s cubic-bezier(0.33, 0.27, 0.58, 1) forwards sistemgas-hq-in;
}

@keyframes sistemgas-hq-in {
  0% {
    transform: translateX(0) translateY(0);
  }

  100% {
    transform: translateX(-100%) translateY(calc(1 / 5 * 100vh));
  }
}

.sistemgas-hq-force-end {
  transform: translateX(-100%) translateY(calc(1 / 5 * 100vh));
}

.forest-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-mid {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-mid.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.forest-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/forest-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.mountains-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/mountains-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.clouds-front {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-front.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}
.clouds-back {
  position: absolute;
  top: 0;
  left: 0;
  background: url("/clouds-back.svg");
  width: var(--background-svg-width);
  height: calc(4 / 5 * 100vh);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.street {
  position: absolute;
  top: calc(4 / 5 * 100vh);
  left: 0;
  background: url("/road.svg");
  height: calc((1 / 5) * 100vh);
  width: calc(var(--road-svg-width) * 4);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}

.street-background {
  position: absolute;
  top: calc(4 / 5 * 100vh);
  left: 0;
  background: url("/road-background.svg");
  height: calc((1 / 5) * 100vh);
  width: calc(var(--road-svg-width) * 4);
  background-position: left;
  background-repeat: repeat-x;
  background-size: contain;
}
